body {
    background-image: url("https://images.alphacoders.com/132/1326370.png");
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}


input:focus {
    outline: none !important;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 50%;
    position: relative;
}

.form-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease;
}


.form {
    flex: 1;
    align-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}


.move-left {
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.move-right {
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: #937DC2;
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}
.error_conatainer {
    background-color: red;
    color: white;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    padding:1vw;
    border-radius: 10px;
}
.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
    .input-group label {
        color: #090937;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .input-group input {
        align-items: center;
        background: #F4F4FF;
        border: 0;
        border-radius: 4px;
        color: rgba(9, 9, 55, 0.40);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        height: 28px;
        line-height: normal;
        outline: 0;
        padding: 10px;
    }

.logo {
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    margin: 0
}

.filled-button {
    background: #937DC2;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    width: 100%;
}

.outline-button {
    background: white;
    border: 1px solid #937DC2;
    border-radius: 4px;
    color: #937DC2;
    padding: 9px 20px;
    width: 100%;
}

.welcome {
    color: rgba(9, 9, 55, 0.60);
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.welcome-describe {
    color: #090937;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 1vh;
}

.hidden {
    display: none;
}


@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    #overlay {
        display: none;
    }

    .form-container {
        flex-direction: column;
        width: 100%;
    }

    .form.hidden {
        display: none;
    }
}
